<div>
  <ion-row>
    <ion-col
      size="6"
      size-lg="6"
      size-sm="6"
      size-xs="6"
    >
      <ion-card color="dark">
        <ion-card-header>
          <ion-card-subtitle>
            <span class="text-primary" (click)="showModal(pelicula)">{{ pelicula.original_title }}</span>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-img [src]="url+pelicula.poster_path"></ion-img>
      </ion-card>
    </ion-col>

    <ion-col
      size="6"
      size-lg="6"
      size-sm="6"
      size-xs="6"
    >
    <ion-card color="dark" style="margin-top: 10%; margin-bottom: 10%; padding: 5%;">
      <p>
        <span>Popularity:</span> {{ pelicula.popularity }}
      </p>

      <p>
        <span>Original lenguaje:</span> {{ pelicula.original_language }}
      </p>

      <p>
        <span>Original title:</span> {{ pelicula.original_title }}
      </p>

      <p>
        <span>Vote average:</span> {{ pelicula.vote_average }}
      </p>

      <p>
        <span>Vote count:</span> {{ pelicula.vote_count }}
      </p>

      <p>
        <span>Sinopsis:</span> {{ pelicula.overview }}
      </p>
    </ion-card>
    </ion-col>
  </ion-row>
</div>