<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary" (ionChange)="cambiarCategoria($event)">
    <ion-segment-button *ngFor="let categoria of categorias" [value]="categoria">
      <ion-label text-capitalize>{{ categoria }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>



<ion-content [fullscreen]="true">
  <app-noticias [noticias]="noticias"></app-noticias>

</ion-content>