<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pelis</ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary" (ionChange)="cambiarCategoria($event)">
    <ion-segment-button *ngFor="let categoria of categorias" [value]="categoria">
      <ion-label text-capitalize>{{ categoria }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let pelicula of peliculas;"
        size="12"
        size-lg="2"
        size-sm="3"
        size-xs="12"
      >
        <ion-card (click)="showModal(pelicula)" color="dark">
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text-primary">{{ pelicula.original_title }}</span>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="url+pelicula.poster_path"></ion-img>
          <ion-card-content>
            <p>Puntuación: {{ pelicula.vote_average }}</p>
            <p>Votos: {{ pelicula.vote_count }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>